@import "../../styles/variables";

.modal {
  background: $color-sidebar;
  color: $color-text;
  width: 100%;
  max-width: 420px;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;
}

.page::-webkit-scrollbar {
  width: 6px;
}

.page::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.state {
  font-size: 1.1rem;
  opacity: 0.6;
}

.addButton {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #444;
  color: $color-text;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  background: $color-sidebar;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.itemContent {
  display: flex;
  flex-direction: column;
}

.itemTitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.itemDescription {
  white-space: pre-wrap;
  width: 80%;
  margin-top: 0.3rem;
  opacity: 0.7;
}

.itemActions {
  display: flex;
  gap: 0.5rem;
}

.text {
  display: grid;
  padding-block: 1rem;
  gap: 0.7rem;
}

input,
textarea {
  width: 100%;
  padding: 0.6rem 0.7rem;
  background: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  color: $color-text;
  font-size: 0.95rem;

  &:focus {
    outline: none;
    border-color: #5b9dff;
  }
}

textarea {
  resize: vertical;
}

.itemActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

button {
  padding: 0.5rem 0.9rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.primary {
  background: transparent;
  color: $color-text;
  border: 1px solid #444;

}

.secondary {
  background: transparent;
  color: $color-text;
  border: 1px solid #444;
}

.editButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: $color-text;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #d64545;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  :hover {
    color: #ff5555;
  }
}

.danger {
  background: transparent;
  border: 1px  solid red;
  color: #fff;
}

.danger:hover{
  background: #fc2c2c;
}