// Точки перелома
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

// Цвета
$color-bg: #121212;
$color-sidebar: #1e1e1e;
$color-header: #2c2c2c;
$color-footer: #2c2c2c;
$color-text: #fff;

// Размеры
$sidebar-width: 200px;
