@import "../../styles/variables";

.wrapper {
  min-height: 80vh;
  padding: 2rem;
  position: relative;
  transition: align-items 0.8s ease-in-out;

  &:focus-within .new {
    transform: translateY(60vh);
  }
}

.new {
  border: 1px solid #3a3a3a;
  transition: transform 0.8s ease, border-color 0.15s, box-shadow 0.15s;



  &:focus {
    border-color: $color-sidebar;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.444);
    outline: none;
  }
}